<h1 *ngIf="!isLoading"  mat-dialog-title>Login</h1>

<div *ngIf="error&&!isLoading" style="color: red;">
  <p>{{error}}</p>
</div>

<div *ngIf="isLoading" style="text-align: center;">
  <h1>Login ...</h1>
  <app-spinner></app-spinner>
</div>

<div mat-dialog-content>

 <form [formGroup]="loginForm"  *ngIf="!isLoading">

  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required type="email" required email>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>


    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>

 </form>

</div>

<div mat-dialog-action [align]="'end'" *ngIf="!isLoading">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="login()"  [disabled]="!loginForm.valid">Login</button>
</div>
